:root {
  --base-primary-700: #1A3B66;
  --base-primary-500: #3D8D80;
  --base-primary-300: #89D2AD;

  --base-gray-50: #F8FAFC;
  --base-gray-100: #F1F5F9;
  --base-gray-200: #E2E8F0;
  --base-gray-400: #94A3B8;
  --base-gray-500: #64748B;
  --base-gray-700: #334155;
  --base-gray-900: #0F172A;

  --base-white: #FFFFFF;

  --base-green-500: #22C55E;
  --base-amber-500: #F59E0B;

  --base-red-400: #EF4444;
  --base-red-500: #DC2626;

}

:root {
  /* Superfícies (backgrounds) */
  --color-bg-default: var(--base-gray-50);

  --color-bg-sidebar-primary: var(--base-primary-700);
  --color-bg-sidebar-secondary: var(--base-primary-500);

  --color-bg-card: var(--base-white);
  --color-bg-hover: var(--base-gray-100);

  /* Ação (botões, links, interações) */
  --color-action-primary: var(--base-primary-500);
  --color-action-primary-hover: var(--base-primary-700);

  --color-action-accent: var(--base-primary-300);

  --color-action-danger: var(--base-red-400);
  --color-action-danger-hover: var(--base-red-500);

  /* Textos */
  --color-text-primary: var(--base-gray-900);
  --color-text-secondary: var(--base-gray-500);
  --color-text-muted: var(--base-gray-400);

  --color-text-sidebar: var(--base-white);
  --color-text-sidebar-secondary: rgba(255,255,255,.75);

  /*  Feedbacks/Status */
  --color-status-success: var(--base-green-500);
  --color-status-warning: var(--base-amber-500);
  --color-status-danger: var(--base-red-500);

  /* Bordas */
  --color-border-default: var(--base-gray-200);

  /* Shadows */
  --shadow-sm: 0 2px 8px rgba(15, 23, 42, 0.06);
  --shadow-md: 0 4px 16px rgba(15, 23, 42, 0.08);

  /* Borda arredondada */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* Espaçamento (4px grid) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 40px;

  /* Tipografia */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;

  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.6;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-family: "Inter", sans-serif;
}

.sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  justify-content: space-between;

  padding: var(--space-4);
  background-color: var(--color-bg-sidebar-primary);
  color: var(--color-text-primary);

  position: sticky;
  top: 0;
  box-sizing: border-box;
  box-shadow: 4px 0 16px rgba(15, 23, 42, 0.08);

  transition: width .3s ease;
}

.sidebar--collapsed {
  width: 80px;
}

.sidebar__item-label,
.sidebar__logo-full,
.sidebar__status-content {
  transition: all .2s ease;
}

.sidebar__logo {
  margin-bottom: var(--space-6);

  display: flex;
  justify-content: center;
}

.sidebar__logo-full {
  max-width: 180px;
  width: 100%;
  height: auto;
}

.sidebar__logo-icon {
  display: none;
}

.sidebar--collapsed .sidebar__logo-full {
  display: none;
}

.sidebar--collapsed .sidebar__logo-icon {
  display: block;
  width: 40px;
}

.sidebar__nav {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.sidebar__item {
  min-height: 45px;
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 16px;
  gap: var(--space-2);
  
  text-decoration: none;
  color: var(--color-text-sidebar) !important;
  font-size: var(--font-md);
  font-weight: 500;

  box-sizing: border-box;
   
  transition:
    background-color .2s ease,
    transform .2s ease;
}

.sidebar__item:hover {
  background-color: rgba(255,255,255,.10);
  transform: translateX(1px);
}

.sidebar__item.active {
  background: rgba(255,255,255,.15);
  font-weight: 600;

  box-shadow:
    inset 3px 0 0 var(--base-white);
}

.sidebar--collapsed .sidebar__item {
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  gap: 0;
}

.sidebar--collapsed .sidebar__item::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--base-gray-900);
  color: white;
  padding: 8px 12px;
  border-radius: var(--radius-md);
  font-size: 13px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease;
}

.sidebar--collapsed .sidebar__item:hover::after {
  opacity: 1;
}

.sidebar__item .material-symbols-rounded {
  font-size: 20px;
}

.sidebar__item-label {
  transition: opacity .2s ease;
}

.sidebar--collapsed .sidebar__item-label {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.sidebar__footer {
  padding-top: var(--space-5);
  border-top: 1px solid rgba(255,255,255,.12);
}

.sidebar__status {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.sidebar--collapsed .sidebar__status {
  justify-content: center;
}

.sidebar__status-icon {
  color: var(--color-status-success);
  font-size: 22px;
}

.sidebar__status-content {
  display: flex;
  flex-direction: column;
}

.sidebar--collapsed .sidebar__status-content {
  display: none;
}

.sidebar__status-title {
  color: var(--color-text-sidebar);
  font-size: var(--font-sm);
  font-weight: 600;
}

.sidebar__status-subtitle {
  color: var(--color-text-sidebar-secondary);
  font-size: var(--font-xs);
}